*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  opacity: 0;
  animation: .5s hehe forwards;
}
@keyframes hehe{
  100%{
    opacity: 1;
  }
}
.form-signin, .form-signup{
    width: 400px;
    text-align: center;
    margin: 2em auto;
    transition: 1s;
}
.home{
    text-align: center;
    padding: 1em;
}